<div class="panel panel-default">
  <div class="panel-heading">
    Pokemon ID: {{pokemon.id}}
  </div>
  <div class="panel-body">

    <p>
      <span>Name: {{pokemon.name}} </span>
    </p>
    <p>
      <span>Type: {{pokemon.type}}</span>
    </p>
    <button class="btn btn-danger pull-right" (click)="deletePokemon(pokemon.id)">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button class="btn btn-info pull-right" (click)="editPokemon()">
      <span class="glyphicon glyphicon-edit"></span>
    </button>
  </div>
</div>
