* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #606060;
  background: #eee;
}


/* MAIN */

.main {
  background: #fdfdfd;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  width: 50%;
  top: 0;
  display: block;
  max-width: 900px;
  box-sizing: border-box;
  margin: 0 auto
}


/*
.single-pokemon span {
  display: inline-block;
  border-radius: 2px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px !important;
}*/

.add-pokemon {
  margin-top: 2%;
}

.add-pokemon button {
  background: #cc0000;
  color: #eee;
  padding: 8px 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
}

.add-pokemon button:hover {
  background: #1298e1;
}

label:first-child {
  margin-left: 1em;
}

.input-group {
  margin-right: 5em;
  margin-left: 5em;
}

.navbar.navbar-inverse {
  margin-bottom: 2em;
  border: none !important;
  background-color: #cc0000 !important;
}

.navbar.navbar-inverse a {
  color: #fff !important;
}

.navbar.navbar-inverse a:hover {
  background-color: #1298e1 !important;
}


/* ------------------ IVAN ------------------ */


/* blauw #1298e1 -  geel #f9c000 - rood #cc0000 */

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #1298e1;
  animation: spin 2s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #cc0000;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c000;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
